# Ignore all files in data folder.
data/

# Ignore all cache
__pycache__/
*.pyc

# Ignore Build files
*.spec
/build/
/dist/

# Ignore notion link
PyBudgetBuddy_Planning.docx

# Ignore AI project management files
rules.md
plan.md
memory.md
